html,
body {
    height: 100%;
    padding: 0;
}

.app {
    height: 100%;
}

.container {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #ebe8e8;
    a {
        color: #929191;
    }
}


/*
   * Custom translucent site header
   */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}


/*
   * Dummy devices (replace them with your own or something else entirely!)
   */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

// From
.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
    & .checkbox {
        font-weight: 400;
    }
    & .form-floating:focus-within {
        z-index: 2;
    }
    & input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    & input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.container-profile {
    user-select: none;
    margin: 40px auto;
    background: #ebeaf0;
    color: #000000;
    border-radius: 5px;
    width: 70%;
    height: 500px;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-photo {
    background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
    height: 200px;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    // margin: 93px 0 0 -175px;
    margin-top: 90px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: #292343;
    // position: absolute;
    // left: 240px;
    // top: 90px;
}

.profile-name {
    margin-top: 50px;
    font-size: 45px;
    font-weight: bold;
}

.about {
    margin-top: 15px;
    // line-height: 21px;
}

// Book
.book-container {
    position: relative;
    text-align: right;
    .book-session {
        margin-top: 50px;
        text-align: center;
    }
}

.card-container {
    margin-bottom: 50px;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    .cardImg {
        height: 300px;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.edit-form {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    .btn-search {
        border: none;
        padding: 0 20px;
        background-color: #74b5c5;
        color: #fff;
        transition: background-color 0.25s linear;
        &:hover {
            background-color: #dce0a1;
        }
    }
}