<div class="mt-5">

  <div class="container book-container">
    <button
      type="button"
      class="btn btn-primary addbook"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add Book
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel">Add book</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body p-5 pt-0">
            <form method="POST" action="/book/create">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control rounded-4"
                  id="floatingInput"
                  placeholder="Title"
                  name="title"
                  required
                />
                <label for="floatingInput">Title</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control rounded-4"
                  id="floatingInput"
                  placeholder="Description"
                  name="description"
                  required
                />
                <label for="floatingInput">Description</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control rounded-4"
                  id="floatingInput"
                  placeholder="Author"
                  name="author"
                  required
                />
                <label for="floatingInput">Author</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control rounded-4"
                  id="floatingInput"
                  placeholder="image"
                  name="image"
                  required
                />
                <label for="floatingInput">Image</label>
              </div>

              <button
                class="w-100 mb-2 btn btn-lg rounded-4 btn-primary"
                type="submit"
              >Add</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="row book-session">
      {{#each books}}
        <div class="col-sm-6 col-lg-4 card-container">
          <div class="card card-content">
            <img src={{this.image}} class="card-img-top cardImg" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text">Author: {{this.author}}</p>
            </div>
            <div class="card-footer">
              <a href="/book/{{this.id}}" class="btn btn-primary">Detail</a>
              <a
                href="/book/edit/{{this.id}}"
                class="btn btn-secondary"
              >Edit</a>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#card{{this.id}}"
              >
                Delete
              </button>
            </div>
          </div>
          <form method="POST" action="/book/delete/{{this.id}}?_method=DELETE">
            <div
              class="modal fade"
              id="card{{this.id}}"
              tabindex="-1"
              aria-labelledby="deleteBook"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form action=""></form>
                  <div class="modal-body">
                    <p>Are you sure ?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >Close</button>

                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>

      {{/each}}
      {{#unless books}}
        No data. Please add some book
      {{/unless}}

    </div>
  </div>
</div>