<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card card-content">
        <img src={{book.image}} class="card-img-top cardImg" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">Author: {{book.author}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-1-6 ps-xl-5">
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="h1 mb-0 text-primary">Description</h2>
          </div>
          <p>{{book.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>