<div class="edit-form">
  <h1>EDIT BOOK</h1>
  <form action="/book/{{book.id}}?_method=PUT" method="POST">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control rounded-4"
        id="floatingInput"
        name="title"
        value="{{book.title}}"
      />
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="5"
        name="description"
      >{{book.description}}</textarea>
      <label for="exampleFormControlTextarea1">Description</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control rounded-4"
        id="floatingInput"
        name="author"
        value="{{book.author}}"
      />
      <label for="floatingInput">Author</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control rounded-4"
        id="floatingInput"
        name="image"
        value="{{book.image}}"
      />
      <label for="floatingInput">Image</label>
    </div>
    <button
      class="w-100 mb-2 btn btn-lg rounded-4 btn-primary"
      type="submit"
    >EDIT</button>
  </form>
</div>