<main class="form-signin">
  <form action="/auth/login" method="POST">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="useremail"
      />
      <label for="floatingInput">email</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="userpassword"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <hr class="my-4" />
    <small class="text-muted">
      Don’t have an account?
      <a href="/register">Register here</a>

    </small>
    {{#if message}}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    {{/if}}
  </form>
</main>