
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Opps</h1>
        <p class="col-md-8 fs-4">PAGE NOT FOUND</p>
        <a class="btn btn-primary " href="/">Take me home</a>
      </div>
    </div>
  </div>
</main>