<div class="container-profile">
  <div class="cover-photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT94iIZeMWtP19_vCOwgamkgNFZ0G9iOJWsmg&usqp=CAU"
      class="profile"
    />
  </div>

  <div class="profile-name">{{userName}}</div>
  <p class="about">Hello {{userEmail}}. This is your profile</p>

</div>