<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Book Management</h1>
      <p class="col-lg-10 fs-4">Join now to use all service of Book Management</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form
        class="p-4 p-md-5 border rounded-3 bg-light"
        action="/auth/register"
        method="POST"
      >
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="bigboog"
            name="username"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            name="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <hr class="my-4" />
        <small class="text-muted">
          Have an account
          <a href="/login">Login now!</a>

        </small>
        {{#if message}}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {{/if}}
        {{#if success}}
          <div class="alert alert-success" role="alert">
            {{success}}
          </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>