<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        ><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="nav-link px-2 link-secondary">HOME</a></li>
        <li><a href="/book" class="nav-link px-2 link-dark">My Book</a></li>
      </ul>

      <form
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search-form"
        method="GET"
        action="/book/search"
      >
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
          name="book"
        />
        <button class="btn-search" type="submit"><i
            class="fa-solid fa-magnifying-glass"
          ></i></button>
      </form>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span>{{userName}}</span>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/profile">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/auth/logout">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>